<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Solar Calc</title>
    <link href="calculator.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <ul>
      <!-- start of nav bar -->
      <div class="mainLogo">
        <nav>
          <a href="index.html"><img src="images/logo.svg" style="width:30%"></a>
        </nav>
      </div>
      <li><a href="aboutus.html">About Us</a></li>
      <div class="topnav-centered">
        <li><a href="calculator.html">Calculator</a></li>
      </div>
      <div class="topnav-right">
        <li><a href="contact.html">Contact</a></li>
      </div>
      <!-- end of nav bar -->
    </ul>
    <h1> Welcome to the efficiency calculator! </h1>
    <form action="/action_page.php">
    <label for="Sites">Choose a site:</label>
    <select id="Sites" name="Sites" size="3" multiple>
      <option value="SiteA">Site A - Garfield, NJ</option>
      <option value="SiteB">Site B - Woodbridge Township, NJ</option>
      <option value="SiteC">Site C - Montclair, NJ</option>
    </select><br><br>
    <input type="submit">

    <form class='contact-form' action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdBLDP8SsssnwK-8weMiEbwQQSQ2f_MhhYc8-2JteTXJS4V4Q/formResponse" target="_self" method="POST" id="mG61Hd" jsmodel="TOfxwf Q91hve" data-response="%.@.[]]" data-first-entry="0" data-last-entry="5" data-is-first-page="true">
    <div class='contact-section fade-in'>
      <h3>USE THE CALCULATOR BELOW TO CALCULATE YOUR EFFICIENCY</h3>
      <div class='border'></div>
      <form class='contact-form' action='index.html' method='post'>
        <input type='text' name="entry.1994759724"
        class='contact-form-text' placeholder='Yield'>
        <input type='text' name="entry.1369317306"
        class='contact-form-text' placeholder='Module Temperature'>
        <input type='text' name="entry.766253923"
        class='contact-form-text' placeholder='Insolation'>
        <div class = 'contact-btn fade-in'>
          <a href = '#' class = 'hover-this'>
            <input type='submit' class='contact-form-btn hover-this' value='Send'>
          </a>
        </div>
      </form>
    </div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe205uaJFi7AyUL16bQSNrrvSArlWoC09N2Ot3IzAYIWH3i4w/viewform?embedded=true" width="640" height="653" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <script>
      $('#input-excel').change(function(e)){}
      (funct const link = document.querySelectorAll('body');

      var $form = $('form#test-form'),
        url = 'https://script.google.com/macros/s/AKfycbwf0uXohTVGq-d42_q6RVCfnH6v2G2Kkti4RG7SUcvEgU30XqM/exec'

      $('#submit-form').on('click', function(e) {
      e.preventDefault();
      var jqxhr = $.ajax({
        url: url,
        method: "GET",
        dataType: "json",
        data: $form.serializeObject()
      }).success(
        // do something
        );
      })
    </script>
  </body>
</html>