<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Solar Assistant | Calculator</title>
    <link href="calculator.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <ul>
      <!-- start of nav bar -->
      <div class="mainLogo">
        <nav>
          <a href="home.html"><img src="images/logo.svg" style="width:30%"></a>
        </nav>
      </div>
      <li><a href="home.html">Home</a></li>
      <div class="topnav-centered">
        <li><a href="calculator">Calculator</a></li>
      </div>
      <div class="topnav-right">
        <li><a href="contact.html">Contact</a></li>
      </div>
      <!-- end of nav bar -->
    </ul>

    <div class='contact-section fade-in'>
      <div class='border'></div>
      <form class='contact-form' action='#' method='post'>
        <h1> Welcome to the efficiency calculator! </h1>
        <h3>USE THE CALCULATOR BELOW TO CALCULATE YOUR EFFICIENCY</h3>
        <label for="Sites">Choose a site:</label>
        <select id="Sites" name="Sites" size="3" multiple>
        <option value="SiteA">Site A - Garfield, NJ</option>
        <option value="SiteB">Site B - Woodbridge Township, NJ</option>
        <option value="SiteC">Site C - Montclair, NJ</option>
        </select><br><br>
        <input type='text' name="entry.1994759724"
        class='contact-form-text' placeholder='Yield'>
        <input type='text' name="entry.1369317306"
        class='contact-form-text' placeholder='Module Temperature'>
        <input type='text' name="entry.766253923"
        class='contact-form-text' placeholder='Insolation'>
        <div class = 'contact-btn fade-in'>
          <input type='submit' class='contact-form-btn hover-this' value='Submit'>
        </div>
      </form>
    </div>
  </body>
</html>