<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Solar Assistant | Contact</title>
    <link href="contact.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <ul>
      <!-- start of nav bar -->
      <div class="mainLogo">
        <nav>
          <a href="home.html"><img src="images/logo.svg" style="width:30%"></a>
        </nav>
      </div>
      <li><a href="home.html">Home</a></li>
      <div class="topnav-centered">
        <li><a href="calculator.html">Calculator</a></li>
      </div>
      <div class="topnav-right">
        <li><a href="contact.html">Contact</a></li>
      </div>
      <!-- end of nav bar -->
    </ul>
    <form class='contact-form' action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdBLDP8SsssnwK-8weMiEbwQQSQ2f_MhhYc8-2JteTXJS4V4Q/formResponse" target="_self" method="POST" id="mG61Hd" jsmodel="TOfxwf Q91hve" data-response="%.@.[]]" data-first-entry="0" data-last-entry="5" data-is-first-page="true">
    <div class='contact-section fade-in'>
      <h1>Questions, Comments, or Concerns?</h1>
      <h2> Let us know below! </h2>
      <div class='border'></div>
      <form class='contact-form' action='index.html' method='post'>
        <input type='text' name="entry.1994759724"
        class='contact-form-text' placeholder='Name'>
        <input type='email' name="entry.1369317306"
        class='contact-form-text' placeholder='Email'>
        <input type='text' name="entry.766253923"
        class='contact-form-text' placeholder='State'>
        <textarea class='contact-form-text' placeholder='Your message'name="entry.1892618329"></textarea>
        <div class = 'contact-btn fade-in'>
          <a href = '#' class = 'hover-this'>
            <input type='submit' class='contact-form-btn hover-this' value='Send'>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
